.footer
  .fragrance-note
    .fragrance-note__title
      　　ノートとは :
    .fragrance-note__explain
      トップ→ミドル→ベースの順で、香るまでの時間・香り続ける時間が異なります。
  .fragrance-type
    .fragrance-type__title
      香りタイプとは :
    .fragrance-type__explain
      精油をブレンドする際に考慮することで、簡単に良い香りを作ることができます。
  .project-name
    Ailis_project.