.wrapper
  = render "header"

  .index-main
    .items
      .item
        .item__img
        .item__name
        .item__btns
          .edit-btn
          .delete-btn
      .item
        .item__img
        .item__name
        .item__btns
          .edit-btn
          .delete-btn
      .item
        .item__img
        .item__name
        .item__btns
          .edit-btn
          .delete-btn
      -# .item
      -#   .item__img
      -#   .item__name
      -#   .item__btns
      -#     .edit-btn
      -#     .delete-btn
      -# .item
      -#   .item__img
      -#   .item__name
      -#   .item__btns
      -#     .edit-btn
      -#     .delete-btn

  = render "footer"