.wrapper {
  min-height: calc(100vh - 140px);
  position: relative;
  padding-bottom: 140px;
}
@import "reset";
@import "settings";
@import "modules/header";
@import "modules/footer";
@import "modules/index";
@import "modules/new";